# Python
*.pyc
*~
__pycache__

# Env
.env
venv/

# Database
db.sqlite3

# Static folder at project root
/static/
staticfiles/*

# Media folder at project root
media/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100
