{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="card" style="max-width: 400px">
        <h2 class="text-2xl text-center">Log in</h2>
        <form method="post" id="login-form" class="flex flex-col gap-2 m-6">
            {% csrf_token %}
            {{ form }}
        </form>
        <button type="submit" class="button block mx-auto" form="login-form">Log in</button>
        <p class="text-center pt-4">Don't have an account yet? <a href="{% url 'registration' %}">Register here</a></p>
    </div>
{% endblock %}


