{% extends 'base.html' %}
{% block content %}
    <div class="flex justify-between gap-x-12">
        <div class="w-2/3" style="flex-grow:1">
            <h2 class="text-4xl pb-5">Shipping details</h2>
            {% if existing_shipping_details %}
                <div>
                    {{ existing_shipping_details.first_name }} {{ existing_shipping_details.last_name }}
                    <br>
                    {{ existing_shipping_details.address }}
                    <br>
                    {{ existing_shipping_details.postcode }} {{ existing_shipping_details.city }}
                </div>
                <div>(default address? {{ existing_shipping_details.is_default }})</div>
                <div class="my-3">
                    <a href="{% url "checkout:existing_shipping_details_redirect" pk=existing_shipping_details.pk %}"
                       class="button my-3">
                        Place order
                    </a>
                </div>
            {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div>
                        {{ shipping_form.first_name.label_tag }}
                        {{ shipping_form.first_name }}
                        {{ shipping_form.last_name.label_tag }}
                        {{ shipping_form.last_name }}
                        {{ shipping_form.address.label_tag }}
                        {{ shipping_form.address }}
                        {{ shipping_form.postcode.label_tag }}
                        {{ shipping_form.postcode }}
                        {{ shipping_form.city.label_tag }}
                        {{ shipping_form.city }}
                        <div class="flex flex-row justify-start items-center gap-1">
                            {{ shipping_form.is_default }}
                            {{ shipping_form.is_default.help_text }}
                        </div>
                    </div>
                    <button type="submit" class="button my-3">
                        Place order
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="w-1/3 pl-3">
            <h2 class="text-4xl pb-5">Cart summary</h2>
            {% for item in cart_items %}
                <div>
                    {{ item.quantity }}x {{ item }}
                </div>
            {% endfor %}
            <p class="pt-5">Total price: {{ total_price }} €</p>
        </div>
    </div>
{% endblock %}
