{% extends 'base.html' %}
{% block content %}
    <h2 class="text-4xl mb-14">Shipping details</h2>
    <form method="POST">
        {% csrf_token %}
        {% if form.shipping_details.errors %}
            <div>{{ form.shipping_details.errors }}</div>
        {% endif %}
        {% for address in form.fields.shipping_details.queryset %}
            <label class="flex gap-x-5 items-center mb-12">
                <input type="radio"
                       name="shipping_details"
                       value="{{ address.pk }}">
                <div>
                    <div>{{ address.first_name }} {{ address.last_name }}</div>
                    <div>{{ address.address }}</div>
                    <div>{{ address.postcode }} {{ address.city }}</div>
                </div>
            </label>
        {% endfor %}
        <button type="submit" class="button mt-5">
            Next
        </button>
    </form>
{% endblock %}
