{% extends 'base.html' %}
{% block content %}
    <h2 class="text-4xl mb-14">Add new credit card</h2>
    <form method="POST" id="payment-create-form">
        {% csrf_token %}
        {{ form }}
    </form>
    <div class="flex items-center gap-x-8 mt-12">
        {% if payment_details %}
            <a href="{% url 'checkout:payment' %}" class="button-secondary">Select credit card from list</a>
        {% endif %}
        <button type="submit" class="button" form="payment-create-form">Place order</button>
    </div>
{% endblock %}
