@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 24px;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #FEA520;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.button {
    background-color: #60A0FB;
    padding: 8px 12px;
    border-radius: 8px;
}

.button:hover{
    background-color:#74ACFB;
}

.button-secondary:hover {
    text-decoration: underline;
    text-decoration-color: #60A0FB;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

input:last-child{
    margin-bottom:0;
}

input[type=text], input[type=password] {
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type=number]{
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-left: 4px;
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

label {
    display: block;
}

.card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}

.errorlist {
    font-size: 14px;
    color: grey;
    font-style: italic;
}

