@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 24px;
}

a:hover, .logout:hover {
    text-decoration: underline;
    text-decoration-color: #FF70FF;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.button {
    background-color: #FEA520;
    padding: 8px 12px;
    border-radius: 8px;
}

.button:hover{
    background-color: #FEAD34;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text], input[type=password] {
    border: 1px solid lightgray;
    border-radius: 4px;
}

label {
    display: block;
}

.card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}

