<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gabylando</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block navbar %}
    <div class="flex items-center justify-between pb-6">
        <a href="{% url "index" %}">
            <img src="{% static 'svgs/logo.svg' %}" alt="" width="160" height="35">
        </a>
        <div class="flex gap-10">
            <a href="{% url 'product_list' %}">All products</a>
            <a href="#">Brands</a>
            <a href="#">Categories</a>
            <a href="#">Deals</a>
        </div>
        <div class="flex gap-10">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                    <button class="logout" type="submit">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
            <a href="#">Cart</a>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock content %}
</body>
</html>
