{% extends 'base.html' %}
{% block content %}
    <h1 class="text-4xl pb-5">All products</h1>
    <div class="grid grid-cols-4 gap-x-5 gap-y-12">
        {% for product in products %}
                <a href="{% url 'products:product_detail' product.pk %}" class="flex flex-col mx-auto">
                    {% if product.images %}
                        <img src="{{ product.images.first.image.url }}" alt="" class="mx-auto" style="height:300px">
                    {% endif %}
                    <div class="flex gap-x-2 justify-between pt-2">
                        <p>{{ product.item_name }}</p>
                        <p>{{ product.price }} €</p>
                    </div>
                </a>
        {% endfor %}
    </div>
{% endblock %}
