{% extends 'base.html' %}
{% block content %}
    <div class="grid grid-cols-2">
        <div class="mx-auto">
            {% if images %}
                {% for obj in images %}
                    <img src="{{ obj.image.url }}" alt="" style="width: 400px">
                {% endfor %}
            {% endif %}
        </div>
        <div class="flex flex-col gap-y-2 ml-5">
            <p class="capitalize text-xl">{{ product.brand }}</p>
            <p class="capitalize text-3xl font-semibold">{{ product.item_name }}</p>
            <p class="text-xl">{{ product.price }} €</p>
        </div>
    </div>
{% endblock %}

